<div class="microondas-container">
  <h2>Microondas</h2>
  <form (ngSubmit)="iniciar()" #form="ngForm">
    <div>
      <label for="tempo">Tempo (s):</label>
      <input type="number" [(ngModel)]="tempoSegundos" name="tempo" min="1" max="120">
    </div>
    <div>
      <label for="potencia">Potência (1-10):</label>
      <input type="number" [(ngModel)]="potencia" name="potencia" min="1" max="10">
    </div>
    <button type="submit">Iniciar Aquecimento</button>
  </form>
  <button type="button" (click)="inicioRapido()">Início Rápido</button>

  <div *ngIf="outputLinhas.length > 0" class="resultado">
    <strong>Resultado:</strong>
    <pre>
      <ng-container *ngFor="let line of outputLinhas">
        {{ line }}
      </ng-container>
    </pre>
  </div>
  <div *ngIf="error" class="erro">
    <strong>Erro:</strong>
    <p>{{ error }}</p>
  </div>
</div>
